{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/stylex.css' %}">
    <title>Register Here!!!</title>
</head>
<body style="background-color:#ff0060; text-align:center; margin:auto auto auto auto;">
<div>
    <h1>Register</h1>
    {{ form.non_field_errors }}
                            {% if messages %}
                            <ul>
                                {% for message in messages %}
                                    <p style="color:white;">{{ message }}</p>
                                {% endfor %}
                            </ul>
                        {% endif %}
    <form method="POST">
        {% csrf_token %}

        {% for field in form %}
             <p>
                {{ field.label_tag }}<br>
                 {{ field }}
                 <div>{{ field.errors }}</div>
             </p>
        {% endfor %}

        <button type="submit">Register</button>
    </form>
    <p>If you already have an account, <a href="{% url 'users:login' %}">login</a> instead.</p>
</div>
</body>
</html>